@model IEnumerable<YCS.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quotation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
                
                @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            }
            @if (User.IsInRole("Manager"))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
                @Html.ActionLink("Details", "Details", new { id = item.OrderId })
            }
            @if (User.IsInRole("Employee"))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
                @Html.ActionLink("Details", "Details", new { id = item.OrderId })
            }
        </td>
    </tr>
}

</table>
